.navbar{
    height:100px;

    .wrapper{
        max-width: 1366px;
        margin:auto;
        display:flex;
        align-items: center;
        justify-content: space-between;
        height:100%;

        div{
            margin-left:10px;
            .first{
                color: rgb(241 245 249);
                font-weight: bold;
                padding-right: 4px;
                font-size:x-large;
            }
            .second{
                color: rgb(148 163 184);
                font-weight: bold;
                font-size:x-large;
            }
        }

        .social{
            display:flex;
            gap:20px;

            img{
                width:18px;
                height:18px;
            }
        }
    }
}